/* BARRA MENU*/



nav {
	position: absolute;
	z-index: 1;
	padding: 1px;
	width: 100%;
	opacity:;
	border-radius: 0px;

}

nav .menu {
	display: inline-block;
	margin-right: 45px;
	font-size: 23px;
	float: right;
	margin-top: 30px;
	font-family: subTitulos;



}

#titulo {
	
	float: left;
	
	


}
#titulo .opcion img{
	height: 3rem;
	width: 8rem;
	margin-left: 30px;
	
	
}




/*opciones de la barra del menu*/
.opcion {
	width: 100px;
	text-decoration: none;
	color:#6E6E6E;
	border-radius: 10px;
}

/* pase el mouse
.opcion:hover{
	
	
}

*/


/* funcionamiento en jQuery

.efectoScroll {
	width: 100%;
	transition: aal ease-in-out 0.5s;
	/*background: #000000; 
	opacity: 0.5;
	color: white;
	position: fixed;
}*/

.top {
	width: 100%;
	transition: aal ease-in-out 0.8s;

}

.btn {

	border-bottom: 1px solid #fff;

}


/*RESPONSIVE*/

@media screen and (max-width:1270px) {


	nav .menu {
		margin-right: 50px;
		font-size: 14px;

	}
}

@media screen and (max-width:1126px) {

	/*#contacto {
		display: none;
	}*/



	nav .menu {
		margin-right: 70x;
		font-size: 15px;

	}
}

@media screen and (max-width:781px) {


	nav .menu {

		
		padding-right: 20px;
		margin-right: 3px;
		font-size: 16px;

	}
	#contacto {
		display: none;
	}
	#titulo .opcion img{
		height: 2rem;
		width: 6rem;
		margin-left: 30px;
		
		
	}



}

@media screen and (max-width:570px) {
	/*#inicio {
		display: none;
	}*/

	
	nav .menu {


		padding-right: 17px;
		margin-right: 3px;
		font-size: 11.5px;

	}
	

	
}